body {
  background-image:url("../fading-background.jpg");
  background-repeat: no-repeat;
}

h1 {
  color:black;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 15px;
  float: center;
  color: black;
}
div {position: static;
  border: 5px solid black;
left: 10;

  }
h2 {font-family: sans-serif;}